@model IEnumerable<WebApplication5.Models.Employee>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Last Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
        </tr>
    }
</table>