@model WebApplication5.Models.DepartmentEmployee
@{
    ViewBag.Title = "ViewModelDepartmentEmployee";
}
@using (Html.BeginForm())
{
    <div class="form-group">
        <div id="divDepartment" class="col-md-10">
            <br />
            Department:
            @Html.DropDownListFor(m => m.DepartmentID, Model.DepartmentListView, "Select One")
        </div>
    </div>
    <div class="form-group">
        <div id="divEmployees" class="col-md-10">
            @{ Html.RenderAction("GetDepartmentEmployee");}
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="submit" value="Search" class="btn btn-default" />*@
            <input class="btn btn-primary" name="submitButton" id="btnSearch" value="Search" type="button">
        </div>
    </div>
}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSearch").click(function () {   
                var url = '@Url.Action("GetDepartmentEmployee", "DepartmentEmployee")' + '/' + $("#DepartmentID option:selected").val();
                $('#divEmployees').load(url);
                 //   $.ajax({
                 //       type: 'POST',
                 //       url: url,
                 //       //data: '{id:1}',
                 //       success: function (result) {
                 //           $('#divEmployees').load(url);
                 //       }
                 //})    
            });
        });
    </script>


